<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Listy
            </h1>

            <div class="list-menu">
                
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>

            </div>
            
            <button class="button is-primary has-text-white" routerLink="/new-list">+ Nowa Lista</button>

        </div>

        <div class="task-list-container has-background-light">

            <div *ngIf="tasks">
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Zadania
                    </h1>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true">
                            <span class="icon is-small">
                                <fa-icon icon="cog"></fa-icon>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <a [routerLink]="['/edit-list', selectedListId]" class="has-text-dark">Edytuj</a>
                                </div>
                                <div class="dropdown-item">
                                    <a (click)="onDeleteListClick()" class="has-text-danger">Usuń</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>


                    
                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
                    <div class="task-text">
                        <p>{{ task.title }}</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]" style="margin-right: 10px;">
                            <fa-icon icon="edit"></fa-icon>
                        </button>
                        <button class="button is-danger" (click)="onDeleteTaskClick(task._id)">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                    </div>
                
                </div>
                <h3 class="empty-state-text" *ngIf="tasks.length === 0">
                    Nie ma tu żadnych zadań! Kliknij przycisk Dodaj, aby utworzyć nowe zadanie.
                </h3>
                <button routerLink="./new-task" class="circle-add-button button is-primary">
                    <p class="has-text-white">+</p>
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Wybierz listę z paska bocznego</h3>
              </div>

        </div>

    </div>
</div>