<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Edytuj liste
        </h1>

        <input #listTitleInput class="input has-background-light is-medium" type="text" placeholder="Wprowadź nazwe listy">

        <br><br>

        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Anuluj</button>
            <button class="button is-primary has-text-white is-medium" (click)="updateList(listTitleInput.value)">Zapisz</button>
        </div>

    </div>
</div>